[submodule "Real-State-Website-using-Tailwind-Css"]
	path = Real-State-Website-using-Tailwind-Css
	url = https://github.com/UMAR-78/Real-State-Website-using-Tailwind-Css.git
[submodule "University-Website"]
	path = University-Website
	url = https://github.com/UMAR-78/University-Website.git
[submodule "Youtube-Clone"]
	path = Youtube-Clone
	url = https://github.com/UMAR-78/Youtube-Clone.git
[submodule "My-Portfolio-with-Saas"]
	path = My-Portfolio-with-Saas
	url = https://github.com/UMAR-78/My-Portfolio-with-Saas.git
